<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <application>
    <provider android:name="expo.modules.studyfocusmode.StudyAppUpdateFileProvider"
      android:authorities="${applicationId}.study-app-update"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/study_update_paths" />
    </provider>
    <service android:name="expo.modules.studyfocusmode.StudyFocusConditionProvider"
      android:exported="true"
      android:permission="android.permission.BIND_CONDITION_PROVIDER_SERVICE">
      <intent-filter>
        <action android:name="android.service.notification.ConditionProviderService" />
      </intent-filter>
    </service>
    <receiver android:name="expo.modules.studyfocusmode.StudyFocusExpiryReceiver"
      android:exported="false">
      <intent-filter>
        <action android:name="expo.modules.studyfocusmode.EXPIRE" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
